version: "3"
services:
  app:
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - /home/node/whatsapp-socket-handler/node_modules
      - .:/home/node/whatsapp-socket-handler:cached
